#!/bin/sh
#SBATCH --job-name={{ job_name }}
#SBATCH --partition={{ partition }}
#SBATCH --output={{ log_file | /dev/null }} # you can add .%a for array index
#SBATCH --error={{ log_file | /dev/null }}
#SBATCH --cpus-per-task={{ n_cpus }}
#SBATCH --mem={{ memory }}
#SBATCH --array=1-{{ n_jobs }}


cd /home/veronika/change_point_detection

module load \
  r-4.0.3-gcc-9.2.0-hkh5nyw \
  byobu-5.127-gcc-9.2.0-by2qc2g \
  ccache-3.3.4-gcc-9.2.0-v3xzqqh \
  curl-7.63.0-gcc-9.2.0-cq4w37y \
  fish-3.0.0-gcc-9.2.0-gdyab6r \
  gcc-9.2.0-gcc-4.8.5-5kwstwt \
  gdal-2.4.2-gcc-9.2.0-pndaukk \
  geos-3.7.2-gcc-9.2.0-jxq7o2n \
  git-2.21.0-gcc-9.2.0-o45v5mj \
  neovim-0.3.4-gcc-9.2.0-67clyue \
  netcdf-c-4.7.2-gcc-9.2.0-jbnkklb \
  openblas-0.3.10-gcc-9.2.0-ge4nz7w \
  pandoc-2.7.3-gcc-9.2.0-7hxzwvt \
  proj-5.2.0-gcc-9.2.0-5t4r5t4 \
  python-3.7.4-gcc-9.2.0-q4dxxjt \
  udunits2-2.2.24-gcc-9.2.0-hupsw3n \
  zlib-1.2.11-gcc-9.2.0-j3zdmzq


CMQ_AUTH={{ auth }} R --no-save --no-restore -e 'clustermq:::worker("{{ master }}")'
